{% load blog_functions %}
<section class="col-md-12 divider blg-exr container">
  <a href="{% url 'blog_detail_slug' slug=article.slug %}" class="title-link"><h2>{{ article.title }}</h2></a>
  <section class="blog-date-time">
    <p>{{ article.date_published|date:'F d, Y' }}</p><span class="text-divider"> | </span><p>Reading Time: {{ article.content|reading_time }}</p>
  </section>
  <section>
    <p>{{ article.excerpt }}</p>
  </section>
  <a href="{% url 'blog_detail_slug' slug=article.slug %}" class="blog-btn">&mdash; Read More &mdash;</a>
</section>