{% extends 'base/base.html' %}
{% load counseling_functions %}
{% load static %}
{% block content %}
<section id="banner">
  <img class="desktop-only" src="{% static 'imgs/group-counseling-full.jpg' %}">
  <img class="mobile-only" src="{% static 'imgs/group-counseling-mobile.png' %}">
  <h1 class="text-center">Groups</h1>
</section>
<div class="container top-con">
  <section class="container divider">
    <h2 class="text-center">
      Roots of Restoration: A Women's Healing Circle
    </h2>
    <p>
      Together, in this Seattle-based group we will work to release old patterns, fears, and gain the empowerment and clarity necessary to pursue your ideal life.
    </p>
    <p>
      Groups and healing circles provide a unique opportunity to heal, grow, and overcome the damage of repeatedly having your trust broken.
      A group setting offers a safe place to take risks, and learn more about yourself.
      Group members become mirrors for one another and reflect each other’s strengths, weaknesses, triggers, and potential for growth.
      This combination produces powerful transformations!
    </p>
  </section>
  <section class="container divider">
    <h3 class="text-center">
      Who is this Journey For?
    </h3>
    <p class="">
      This group is for ambitious women who have been impacted by negative relationships (including domestic violence and childhood abuse).
      They lead productive lives but still feel something is missing.
    </p>
    <p>
      These women are committed to their personal development and are searching for tools and strategies to design their lives to take things to the next level.
      They are tired of negative emotions, toxic relationships, aimlessness, and self-doubt creeping into their lives.
      This group is for women who are willing to risk the discomfort and vulnerability associated with REAL transformation and are ready to step into their greatness.
    </p>
  </section>
  <section class="container divider">
    <h3 class="text-center">
      Group Structure
    </h3>
    <p>
      Each week we will review certain special topics while still leaving room to meet the various needs of the group.
      Each session will include time to process day-to-day concerns, goal setting, accountability check-ins, and sharing breakthroughs.
    </p>
    <article class="top-40 listing" id="session-outline">
      {{ event.outline | safe }}
    </article>
  </section>
  <section class="container divider">
    <h3 class="text-center">Current Group Logistics</h3>
    <section id="group-logistics" class="bottom-40">
    {{ event.logistics | safe }}
    </section>
    <article id="group-event-info">
      <div>
        <p><strong>Day(s) of the Week:</strong></p>
        <p class="event-detail-item">{{ event.meeting_days }}</p>
      </div>
      <div>
        <p><strong>Time:</strong></p>
        <p class="event-detail-item">{{ event.start_time }} - {{ event.end_time }} PST</p>
      </div>
      <div>
        <p><strong>Location:</strong></p>
        <p class="event-detail-item"><a href="https://www.google.com/maps/place/{{ event.location | format_location }}"
            target="_blank">{{ event.location }} <i class="fa fa-globe" aria-hidden="true"></i></a></p>
      </div>

    </article>
    <div class="text-center top-20">
      <p>Contact me at <a href="mailto:kyeisha@kyeishahodge.com?subject=Group therapy inquiry for {{ event.start_date }}">kyeisha@kyeishahodge.com</a>
        to enroll in this group.</p>
    </div>
  </section>
  <section class="container">
    <h3 class="text-center">
      Financial Investment
    </h3>
    <p>
      Standard payment for a journey like this would be upwards of $1,560!
      However, I am offering a huge discount so that you start your new year off right! 
      Below is a detailed explanation of the financial investment:
    </p>
    <p>
      <strong>Paid in Full:</strong> ${{ event.cost | lump_discount }} (${{ event.cost }} discount)
    </p>
    <p>
      <strong>Pay in 3-Part Installments:</strong> Each session is $79. Payment schedule will look like the following:
      <ol>
        <li>Initial deposit: ${% widthratio event.cost 1 2 %}</li>
        <li>2nd payment: ${% widthratio event.cost 1 2 %}</li>
        <li>3rd payment: ${% widthratio event.cost 1 4 %}</li>
      </ol>
    </p>
    <p>
      Dates for payment will be announced for each group. Payments will be processed here in my office using a credit/debit card of your choosing.
    </p>
  </section>
</div>
{% endblock %}
{% block script %}
  <script>
    $('#navbar .navbar-nav li').removeClass("active");
    $('#service-link').addClass("active");
  </script>
{% endblock %}