{% extends 'base/base.html' %}
{% load counseling_functions %}
{% load static %}
{% block content %}
<section id="banner">
  <img class="desktop-only" src="{% static 'imgs/group-counseling-full.jpg' %}">
  <img class="mobile-only" src="{% static 'imgs/group-counseling-mobile.png' %}">
  <h1 class="text-center small-h1">Group Counseling Details</h1>
</section>
<div class="container top-con">
  <section class="container divider">
    <h2 class="text-center">Upcoming Group</h2>
    <article id="group-event-info">
      <div>
        <p><strong>Start date:</strong></p>
        <p class="event-detail-item">{{ event.start_date }}</p>
      </div>
      <div>
        <p><strong>End date:</strong></p>
        <p class="event-detail-item">{{ event.end_date }}</p>
      </div>
      <div>
        <p><strong>Day(s) of the Week:</strong></p>
        <p class="event-detail-item">{{ event.meeting_days }}</p>
      </div>
      <div>
        <p><strong>Time:</strong></p>
        <p class="event-detail-item">{{ event.start_time }} - {{ event.end_time }} PST</p>
      </div>
      <div>
        <p><strong>Location:</strong></p>
        <p class="event-detail-item"><a href="https://www.google.com/maps/place/{{ event.location | format_location }}" target="_blank">{{ event.location }} <i class="fa fa-globe" aria-hidden="true"></i></a></p>
      </div>
      <div class="text-center top-20">
        <p>Contact me at <a href="mailto:kyeisha@kyeishahodge.com?subject=Group therapy inquiry for {{ event.start_date }}">kyeisha@kyeishahodge.com</a> to enroll in this group.</p>
      </div>
    </article>
  </section>
  <section class="container divider listing" id="logistics">
    <h3 class="text-center bottom-20">
      Group Logistics
    </h3>
    {{ event.logistics | safe }}
  </section>
  <section class="top-20 bottom-20 container divider">
    <h3 class="text-center">
      Session Outline
    </h3>
    <p class="top-20 bottom-40">
      Each week we will review certain special topics while still leaving room to meet the various needs of the group.
      Each session will include time to process day to day concerns, goal setting, accountability check-ins and sharing breakthroughs.
    </p>
    <article class="top-40 listing" id="session-outline">
      {{ event.outline | safe }}
    </article>
  </section>
  <section class="container divider">
    <h3 class="text-center">
      Financial Investment
    </h3>
    <p>
      The investment is ${{ event.cost }} per session, plus a testimonial and feedback to me at the end about what worked best and your suggestions for improvement.
    </p>
    <p>Payment options include:</p>
    <ul id="cost" class="listing">
      <li>
        Payments of ${{ event.cost }} set up at the same time weekly with credit/debit card
      </li>
      <li>
        A one time payment of ${{ event.cost | lump_discount }} (save ${{ event.cost }})
      </li>
    </ul>
  </section>
  <section class="container">
    <h3 class="text-center">Next Steps</h3>
    <p>
      Please <a href="{{ event.external_link }}">click here to sign up</a> for an upcoming group.
      Please be advised that you will have to fill out paperwork and have a 30-mins phone consultation to determine best fit.
    </p>
  </section>
</div>
{% endblock %}
{% block script %}
<script>
  $('#navbar .navbar-nav li').removeClass("active");
  $('#service-link').addClass("active");
</script>
{% endblock %}