{% extends 'base/base.html' %}
{% load coaching_functions %}
{% load static %}
{% block content %}
<section id="banner">
  <img src="{% static 'imgs/group-main-crop.png' %}">
  <h1 class="text-center small-h1">Group Coaching Details</h1>
</section>
<div class="container divider top-con divider-thick">
  <h2 class="text-center">Current Group</h2>
  <article id="group-event-info">
    <p><strong>Start date:</strong> {{ event.start_date }}</p>
    <p><strong>End date:</strong> {{ event.end_date }}</p>
    <p><strong>Meets on:</strong> {{ event.meeting_days }}</p>
    <p><strong>Time:</strong> {{ event.start_time }} - {{ event.end_time }} PST</p>
    <p><strong>Location:</strong> <a href="https://www.google.com/maps/place/{{ event.location | format_location }}" target="_blank">{{ event.location }} <i class="fa fa-globe" aria-hidden="true"></i></a></p>
    <div class="text-center top-20">
      <a href="{{ event.external_link }}" class="join-btn top-40">
        <button>Join the Group</button>
      </a>
    </div>
  </article>
</div>
<div class="container" id="group-event-detail">
  <section class="container">
    <h3 class="text-center bottom-20">Group Logistics</h3>
    {{ event.logistics | safe }}
  </section>
  <section class="top-20 bottom-20 container">
    <h3 class="text-center">Session Outline</h3>
    <p class="top-20 bottom-40 narrowed-text">Each week we will review certain special topics while still leaving room to meet the various needs of the group. Each session will include time to process day to day concerns, goal setting, accountability check-ins and sharing breakthroughs.</p>
    <article class="top-40" id="session-outline">
      {{ event.outline | safe }}
    </article>
  </section>
  <div class="container">
    <h4>Financial Investment</h4>
    <p>The Investment is $79 Per Session, Plus a Testimonial and Feedback to Me at the End About What Worked Best and Your Suggestions for Improvement.</p>
    <p>Payment options include:</p>
    <ol>
      <li><p>Payments of $79 set up at the same time weekly with credit/debit card</p></li>
      <li><p>A one time payment of $553 and save $79 total!</p></li>
    </ol>
  </div>
  <div class="container">
    <h4>Next Steps</h4>
    <p>Please <a href="{{ event.external_link }}">click here</a> to sign up for an upcoming group. Please keep in mind that you will have to fill out paperwork and have a 30-min phone consultation to determine best fit.</p>
  </div>
</div>
  <script>
      $('#navbar .navbar-nav li').removeClass("active");
      $('#service-link').addClass("active");
  </script>
{% endblock %}