@media screen and (max-width: 1000px) {
    .mobile-only {
        display: block;
    }
    .desktop-only {
        display: none;
    }
    /* Boilerplate */
    h2 {
        font-size: 2em!important;
    }
    h3 {
        font-size: 2.15em;
    }
    h4 {
        font-size: 1.8em;
        line-height: 1.4em;
    }

    p,
    .p-large {
        font-size: 1.15em;
    }
    ul p {
        margin-bottom: 10px!important;
    }

    #navbar {
        display: none!important;
    }

    .container,
    .col-md-12 {
        padding-left: 0;
        padding-right: 0;
    }
    /* .container {
        margin-left: 15px;
        margin-right: 15px;
    } */
    .container .container {
        margin-left: 0px;
        margin-right: 0px;
    }
    .divider {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .top-con {
        margin-top: 0px;
    }

    /* Loading Overlay */
    #loading-logo {
        width: 60vw;
    }
    #loading-text {
        width: 70vw;
    }
    #loading-gif {
        width: 10vw;
    }

    /* Navigation */
    nav {
        height: 60px;
    }
    .navbar-brand {
        padding-top: 8px;
    }
    div#navbar-logo {
        width: 25vw;
        max-width: 120px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    #navbar-logo img {
        height: auto;
        width: 85%;
        margin: 0 7.5%;
    }
    #navbar-logo p {
        text-align: center;
        font-size: 0.6em;
    }
    #nav-branding {
        width: auto;
    }

    #main-description {
        margin-left: calc(22vw + 10px);
    }
    #main-description p {
        font-size: 0.8em;
    }

    .navbar-toggle {
        position: absolute;
        right: 0;
        top: 40%;
        transform: translateY(-50%);
        display: block;
    }
    #nav-mobile {
        display: block;
    }

    /* Banner */
    #banner {
        margin-top: 59px;
    }

    #banner h1 {
        font-size: 10vw;
    }

    /* Footer */
    .footer {
        margin-top: 10px;
        padding-top: 5px;
    }

    #consult {
        width: 100%;
    }

    .contact-logo {
        display: none;
    }
    .contact-info {
        font-size: 16px;
        width: 300px;
        margin: auto;
    }
    .copyright {
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 2px;
    }
    .copyright-full {
        display: none;
    }
    .copyright-mobile{
        display: block;
    }

    /* Home */
    #home-top {
        padding: 0 15px;
        text-align: left;
    }
    #home-top h2 {
        text-align: center;
    }

    #home-squares {
        margin-top: 20px;
    }
    .service-container {
        width: 100%;
        height: 40vw;
        padding: 0;
        margin: 0 0 40px!important;
    }

    .service-img {
        width: 100%;
    }
    .service-img img {
        width: 95%;
        display: block;
        margin: auto;
    }
    .s4 img {
        transform: translateY(55%);
    }
    .service {
        height: 40vw;
    }

    .service h3 {
        font-size: 6vw;
        margin-bottom: 10px
    }
    .service h4 {
        font-size: 3.75vw;
        max-width: 90%;
        margin: 10px auto;
    }

    /* About */
    #about1 {
        float: none;
    }
    #dance-img {
        display: none;
    }
    .about-img-div {
        width: 80vw;
        margin: 15px auto 20px;
    }

    #affiliates {
        display: none;
    }

    /* Therapy */
    blockquote {
        font-size: 1em!important;
    }

    /* Speaking */
    .spacer {
        margin-bottom: 0;
    }
    .speaking-item {
        margin: 20px auto;
        max-width: 450px;
    }

    #popup-banner {
        width: 100%;
    }
    #presentation-detail,
    #request-form-detail,
    #healers-form-detail  {
        width: 90vw;
    }
    #presentation-content p {
        margin: 10px 10px 20px;
    }
    #presentation-detail h4 {
        font-size: 1.5em;
        line-height: 1.3em;
    }

    /* Group Coaching */
    h1#group-banner-text {
        font-size: 20vw;
        position: absolute;
        top: 22%;
    }
    h2.script, #group-description h2 {
        font-size: 18vw!important;
    }
    #investment h2 {
        font-size: 11vw!important;
    }
    #event-top h3,
    #group-description h3 {
        font-size: 10vw;
    }
    #question-list div {
        width: 90%;
    }
    #session-descriptions {
        width: 90vw;
        min-width: 300px;
    }
    #session-descriptions .row {
        margin-bottom: 0;
        margin-top: 0;
    }
    #session-descriptions .col-md-4 {
        width: 90%;
        margin: 20px 5% 20px;
        display: inline-block;
    }
    #session-descriptions p {
        min-height: 0;
    }
    #investment .option {
        width: 80%;
        margin: 5% 10%;
        height: auto!important;
    }

    #arrow-box {
        display: none!important;
    }
    #payments .row {
        width: 100%;
    }
    #payments .col-4 {
        width: 90%;
        display: block;
        margin: auto;
    }
    #payments select {
        font-weight: 400;
    }
    #reserve {
        margin-bottom: 40px!important;
    }
    #group-details {
        width: auto;
    }
    #group-details .col-6 {
        width: 100%;
        border-left-width: 0px!important;
    }
    #group-details .row:first-child {
        margin-bottom: 30px;
    }
    #group-details .thin-line {
        width: 30%;
        height: 1px;
        background-color: #EE8E6D;
        display: block;
        margin: 15px auto;
    }

    /* Healing the Healers */
    .healers-list {
        margin-bottom: 10px!important;
        width: 100%;
    }
    .healers-list,
    .side-img {
        float: none;
    }
    .healers-list li {
        font-size: 0.9em;
    }
    .side-img {
        width: 95%;
        max-width: 410px;
        margin: auto;
        display: block;
    }

    #limited-offer h4 {
        font-size: 1.3em;
        margin: 5px auto 10px;
    }

    /* Blog */

    .blg-exr {
        padding-bottom: 20px;
    }

    .title-link h2,
    h2.article-title {
        text-align: center;
        font-size: 1.8em!important;
        line-height: 1.3em;
    }
    .blog-date-time {
        margin-bottom: 10px;
    }
    .blog-date-time .text-divider {
        display: none;
    }
    .blog-date-time p {
        display: block;
        text-align: center;
        margin-bottom: 0px;
    }

    .page-control {
        padding: 30px 0 10px;
    }
    .page-control .blog-btn {
        margin-bottom: 20px;
        display: block;
    }
    .page-control > * {
        float: none!important;
        margin: auto;
    }

    #blog-article {
        padding: 10px 15px;
    }
    #blog-body li {
        font-size: 0.9em;
    }

    #share-btn {
        width: 350px;
        margin: auto;
    }

    #article-signature {
        float: none;
        width: 70vw;
        max-width: 400px;
        margin: auto;
    }
    #article-signature img {
        margin-bottom: 10px;
    }
    #article-signature p {
        font-size: 1em;
    }

    #recommended-articles h3 {
        text-align: center;
    }
    .recommended {
        width: 375px;
        margin: 10px auto 20px;
        height: 200px;
    }
    .recommended-title {
        margin-bottom: 0;
    }
    .recommended-title h4 {
        font-size: 1.5em;
        margin-top: 0;
    }
    .blog-btn {
        width: 80vw;
        max-width: 300px;
    }

    /* Contact */
    #contact-body {
        text-align: center;
        padding: 0 15px 15px;
        margin-bottom: 20px;
    }
    #contact-body p {
        margin-bottom: 0;
    }
    .contact-p {
        padding-top: 10px;
    }
    #map-container {
        padding-bottom: 20px;
        border-bottom: 2px solid #54F2CE;
    }
    #map {
        margin-top: 20px;
    }
    #find-me {
        display: block;
    }
    #parking {
        padding-bottom: 15px;
    }
    #address {
        margin-bottom: 10px;
        font-size: 1.2em;
        padding-top: 5px;
    }

    /* Resources */
    #resources-body h2 {
        margin-bottom: 0px;
    }
    #resources-body h3 {
        text-align: center;
        font-size: 1.9em;
    }
    #resources-body h4 {
        text-align: center;
    }
    #resources-body .container.divider {
        padding-bottom: 15px;
    }

    .book-container {
        width: auto;
        display: inline-block;
    }
    .book-container:nth-child(even) {
        margin-left: 7vw;
    }
    .book {
        width: auto;
        margin: 10px auto 10px;
    }
    .book-cover {
        height: 45vw;
        width: auto;
    }

    .res-con {
        text-align: center;
        margin: auto!important;
    }
    .res-con .divider {
        height: auto;
        padding-bottom: 20px;
    }
    .res-con .divider:last-child {
        border-bottom: 2px solid darkgrey;
    }
    #resources-right .divider:last-child {
        border-bottom: none;
    }
    .res-con h4 {
        font-size: 1.7em;
        text-align: center;
    }
    .resource-inner {
        font-size: 0.9em;
        left: 0;
    }
    .resource-inner p {
        margin-bottom: 5px;
    }

    /*  */
}

@media screen and (min-width: 650px) {
    .service h3 {
        margin-bottom: 10px!important;
    }
    .service h4 {
        margin: 20px auto!important;
    }
}

@media screen and (max-width: 750px) {
    .contact-list {
        display: none;
    }
    .contact-mobile {
        display: block;
        width: 300px;
        margin: auto;
    }
    .contact-mobile a {
        color: black;
    }
    .contact-mobile li {
        font-size: 1.2em;
        margin: 10px auto;
    }

    .top-con {
        margin: 0 20px;
    }

    #presentation-detail,
    #request-form-detail,
    #healers-form-detail,
    #mailing-list-form-detail {
        width: 90vw;
    }

    #presentation-detail-inner {
        max-height: 50vh;
    }
}