{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="main" style="background: url('{% static 'imgs/bey1.jpg' %}') no-repeat; background-size:100%; background-position:right;">
    <div class="container">
      <h1 class="text-center">Dance like Beyoncé</h1>
    </div>
  </section>
  <div class="container divider top-con">
    <h2 class="text-center">Join me in an actual dance studio to re-create some of Beyoncé’s classic choreography!</h2>
    <p>&nbsp;</p>
    <p class="intro-p">We’ll be going through the same choreography for four meetups in a row then moving onto another of Beyonce’s fabulous choreography. Using tutorials of Beyoncé’s choreography from YouTube (or whatever other videos) together we will learn the choreography.</p>
    <p>&nbsp;</p>
    <p class="intro-p">Although I am a dancer, please trust that I will be grappling with the movements myself so this group is for those people comfortable with working together. Please bring $8 to help cover the cost of the studio.</p>
    <p class="intro-p">Come prepared to laugh at yourself, access your fierce alter ego, and do a lot of moving! </p>
    <p class="quote">* These meet ups have been temporarily postponed, pleas look at calendar for more information on when they will return. </p>
    <h4 class="text-center"><a href="{% url 'healers' %}">Return to Healing the Healers</a></h4>
  </div>
  <script>
      $('#navbar .navbar-nav li').removeClass("active");
      $('#service-link').addClass("active");
  </script>
  {% include 'footer.html' %}
{% endblock %}