{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<section id="banner">
  <img class="desktop-only" src="{% static 'imgs/healers-full.jpg' %}"/>
  <img class="mobile-only" src="{% static 'imgs/healers-mobile.png' %}" />
  <h1 class="text-center small-h1">Healing the Healers</h1>
</section>
<div class="container top-con">
  <section class="container divider">
    <div class="top-logo text-center top-20 bottom-40">
      <img src="{% static 'imgs/healing_healers_logo.png' %}" />
    </div>
  </section>
  <section class="container divider">
    <h2 class="text-center">
      The Stress of Serving Those with Trauma
    </h2>
    <p>
      Listening to detailed stories of despair and bearing witness to the pain and fear that trauma survivors have endured can be overwhelming.
      Healing professionals who do this sacred work can find themselves experiencing burnout, vicarious trauma, and compassion fatigue.
    </p>
    <p>
      In this social climate the demand for healing professionals is increasing and therefore the need for us to intentionally practice self-care.
      Yet, self-care remains elusive.
      This led to the creation of Healing the Healers (HTH).
      Through workshops and 1-on-1 or team coaching our services empower healers to live a quality of life that reflects their brilliance and strength.
    </p>
  </section>
  <section class="container divider listing">
    <h3 class="text-center">
      Reported Lasting Benefits:
    </h3>
    <p>
      Participants from Healing the Healers workshops and coaching have reported experiencing the following:
    </p>
    <ul>
      <li>
        <p>A stronger sense of self and purpose</p>
      </li>
      <li>
        <p>Decreased potential for burnout and improvement in mental health</p>
      </li>
      <li>
        <p>Innovation and creativity in workplace and in personal life</p>
      </li>
      <li>
        <p>Energy and mental space to focus on priorities (including work)</p>
      </li>
      <li>
        <p>Ability to establish and maintain boundaries</p>
      </li>
      <li>
        <p>Enhancement of decision-making skills</p>
      </li>
      <li>
        <p>Enhancement of job performance</p>
      </li>
      <li>
        <p>Improvement of overall quality of life</p>
      </li>
    </ul>
  </section>
  <section class="container divider listing">
    <h3 class="text-center">
      Skill Development:
    </h3>
    <p>
      HTH strives to help healers learn the skills needed to thrive while helping traumatized populations heal.
      These skills include the following:
    </p>
    <ul>
      <li>
        <p>Identify the challenges, strengths, and weaknesses associated with being a healing professional</p>
      </li>
      <li>
        <p>Identify and practice self-care techniques unique to them</p>
      </li>
      <li>
        <p>Learn to use introspection as the foundation of personal and professional excellence</p>
      </li>
      <li>
        <p>Challenge feelings of helplessness and hopelessness that can be common when helping trauma survivors</p>
      </li>
      <li>
        <p>Understand the warning signs and prevent the onset of burnout</p>
      </li>
      <li>
        <p>Improve their overall quality of life, including developing a consistent practice of PLAY</p>
      </li>
      <li>
        <p>Learn to clear the emotional residue of others as a self-care tool</p>
      </li>
    </ul>
  </section>
  <section class="container divider">
    <h3 class="text-center">
      Healers at Play
    </h3>
    <p>
      Children remind us that we don't need a reason to play or celebrate.
      For healers, play is VITAL.
      Since we are often connected to the suffering that is a part of the human experience, we must make sure to connect to the joy that is also the human experience.
      That's where play comes in!
    </p>
    <h4 class="text-center">
      Healers at Play Meetup Group
    </h4>
    <p>
      We are excited to announce that in 2019 we will begin monthly Meetup groups called "Healers at Play", which will consist of Healers across industries coming together to engage in different forms of "play".
      This potentially includes taking a dance class together, trying out floating pods, going to a spa, indoor miniature golfing together, going to the orchestra, museum trips, and whatever else we can dream up together!
    </p>
    <p>
      There is only <strong>one rule:</strong> if you find yourself talking about your caseload or clients for more than 3 minutes, then you MUST change the subject.
      Sometimes as healers we become so submerged in our clients' lives that we forget to have our own.
      This space is one in which we are the center of attention and our hobbies, interestes, funny stories, and talents should dominate the room.
      If you are interested in joining this Meetup Group, please email me at <a href="mailto:kyeisha@kyeishahodge.com?subject=HTH Meetup Waitlist">kyeisha@kyeishahodge.com</a> and I will ad your name to a waitlist.
      After the meetup page is created, you can sign up there.
    </p>
  </section>
  <section class="container divider">
    <h3 class="text-center">
      Workshops
    </h3>
    <p>
      Healing the Healers has given self-care workshops to case managers and other helping professionals at organizations like the <a href="https://www.ywcaworks.org/programs/domestic-violence-advocacy">YWCA</a>, <a href="https://rainiervalleycorps.org/">Rainier Valley Corps</a>, <a href="http://seattletherapyalliance.com/">Seattle Therapy Alliance</a>, and <a href="https://www.thewonderofwomen.org/">Wonder
        of Women Inc</a>.
      These workshops give participants the opportunity to assess their current self care as well as acquire tools to immediately begin improving their self care and therefore the quality of their lives.
      Please <a href="#">contact me here</a> if you wish to learn more.
    </p>
  </section>
  <section class="container">
    <h3 class="text-center">
      Self Care Mastery Coaching
    </h3>
    <p>
      Our services also support organizations and individuals by offering one-on-one and team coaching.
      HTH will contract with organizations to meet with their staff individually and within their teams.
      This role is known as the Trauma Stewardship Coach which is based off of the powerful book by Laura van Dernoot Lipsky titled "Trauma Stewardship: An Everyday Guide to Caring for Self While Caring for Others".
      It's an inspirational book that every Healer should read.
      Click here to learn more.
    </p>
  </section>
</div>
<div id="healers-form-overlay">
  {% include 'healers/healers-contact.html' %}
</div>
<script>
    $('#navbar .navbar-nav li').removeClass("active");
    $('#service-link').addClass("active");

    $('#limited-offer').on('click', function (event) {
      $("#healers-form-overlay").show()
      $("body").addClass("noscroll")
    })

    let closeOverlay = _ => {
      $("#healers-form-overlay").hide()
      $('body').removeClass('noscroll')
    }

    $('.close-overlay').on('click', closeOverlay)
    $('body').on('keyup', function (event) {
      if (event.keyCode === 27) {
        closeOverlay()
      }
    })
</script>
{% endblock %}