{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<section id="banner">
  <img src="{% static 'imgs/healing-healers-crop.png' %}">
  <h1 class="text-center small-h1">Healing the Healers</h1>
</section>
<div class="container top-con">
  <div class="top-logo text-center top-20 bottom-40">
    <img src="{% static 'imgs/healing_healers_logo.png' %}" />
  </div>
  <section class="container">
    <p class="p-large">Early on in my career I noticed a trend: lots of lip service given to practicing self-care but it still remained elusive
    (for myself included). I began obsessed with knowing how we transform self care from a “great idea” to a standard of living.
    I began to notice that Healers had a unique experience which complicated matters.</p>
    <p>The term “Healers” refers to those in positions where the majority of their responsibilities include intense work that focuses
    on repairing the physical, emotional and mental distress of others. Through curiosity, research, and personal experience
    I discovered familiar road blocks and patterns of behaviors that kept Healers from elevating their lives in the way they
    helped others.</p>
    <p>I knew we needed to move beyond self-care as a “bubble bath” or a consumer experience. This led to the creation of Healing
    the Healers (HTH). And through workshops and 1-on-1 coaching our services prevent burnout, compassion fatigue, and worst
    of all secondary trauma.</p>
  </section>
  <section class="container">
    <h4 class="text-center">Emotional Clearing</h4>
    <p>What I began to discover is: many healers are empaths. This means they have a tendency towards absorbing the emotional energy
    of others. This trait is a blessing, a superpower, and a unfortunately a curse if not controlled. I teach healers to go through
    the process of emotional clearing. This emotional hygiene technique is especially needed when we come in contact with the
    residue that trauma leaves behind.</p>
  </section>
  <section class="container">
    <h4 class="text-center">Workshops</h4>
    <p>Overtime Healing the Healers has given selfcare workshops to case managers and other helping professionals at organizations
    like the <a href="https://www.ywcaworks.org/programs/domestic-violence-advocacy">YWCA</a>, <a href="https://rainiervalleycorps.org/">Rainier Valley Corps</a>, <a href="http://seattletherapyalliance.com/">Seattle Therapy Alliance</a>, <a href="https://www.thewonderofwomen.org/">Women of Wonder Inc</a>. These workshops give participants the
    opportunity to assess their current self care as well acquire tools to immediately begin improving their self care and therefore
    the quality of their lives. Please contact me here to request more information and book me for a Healing the Healers workshop!</p>
  </section>
  <section class="container">
    <h4 class="text-center">Trauma Stewardship 1-on-1 &amp; Team Coaching</h4>
    <p>Our services also supports organizations and individuals by offering one-on-one and team coaching. HTH will contract with
    organizations to meet with their staff individually and within their teams. This position is known as the Trauma Stewardship
    Coach which is is based off of the powerful book by Laura van Dernoot Lipsky titled “Trauma Stewardship: An Everyday Guide
    to Caring for Self While Caring for Others”. It’s an inspirational book that every Healer should read, click here to learn
    more.</p>
    <blockquote>
      <h5 class="text-center">LIMITED TIME OFFER</h5>
      <p>Although one-on-one coaching is typically reserved for organizations I have decided to offer a limited number of healers
      a chance to have one-on-one trauma stewardship coaching for the summer. Please click here to find out more</p>
    </blockquote>
  </section>
  <section class="container">
    <h4 class="text-center">Play</h4>
    <p>Children remind us that we don't need a <strong>reason</strong> to play or celebrate. However, as adults we often have amnesia.</p>
    <p>For Healers, play is VITAL.</p>
    <p>Since we are often connected to the suffering that is apart of the human experience we must then be connected to the joy
    that is the human experience. That’s where play steps in! My personal form of play is dancing. I have even performed in a
    few amateur showcases over the years. When in dance mode I am not analyzing the problems or issues of humanity but I am enjoying
    the brilliance, creativity and magnificence of the human spirit. It truly is a blessing!</p>
  </section>
  <section>
    <h4 class="text-center">Healers at Play</h4>
    <p>On September 2018 HTH will create a bi-monthly <a href="https://www.meetup.com/">Meetup Group</a> called "Healers at Play" which will consist of Healers across job
    titles coming together to engage in different forms of play. Potentially including taking a dance class together, trying
    out floating pods, going to a spa, indoor miniature golf together, going to the orchestra, museum trips, and whatever else
    we can dream up!</p>
    <p>Sometimes when it comes to play the spirit is willing, however we don't have the energy to find something fun to do and then
    actually go out to do it. This Meetup Group cuts out that process and just ask that Healers show up together to do FUN things.</p>
    <p>There is only one rule: if you find yourself talking about your caseload or clients for more than 3 minutes then you <strong>MUST</strong>
    change the subject. Sometimes as healers we become so submerged in our clients lives that we forget to have our own. This
    space is one in which we are the center of attention and our hobbies, interests, funny stories, talents and jokes are the
    things that should dominate the room. If you are interested in joining this Meetup Group please click here.</p>
  </section>
</div>
  <script>
      $('#navbar .navbar-nav li').removeClass("active");
      $('#service-link').addClass("active");
  </script>
{% endblock %}