{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<section id="banner">
  <img src="{% static 'imgs/healers-full.jpg' %}">
  <h1 class="text-center small-h1">Healing the Healers</h1>
</section>
<div class="container top-con">
  <section class="container divider">
    <div class="top-logo text-center top-20 bottom-40">
      <img src="{% static 'imgs/healing_healers_logo.png' %}" />
    </div>
    <p class="">
      Early on in my career I noticed a trend: lots of lip service given to practicing self-care but it still remained elusive (for myself included).
      Those of us in positions that involve intense work that focuses on repairing the physical, emotional and mental distress of others cannot afford to have self care merely be a good buzz word.
    </p>
    <p>
      I knew we needed to move beyond self-care as a “bubble bath” or a consumer experience.
      This led to the creation of Healing the Healers (HTH).
      And through workshops and 1-on-1 coaching our services prevent burnout, compassion fatigue, and worst of all secondary trauma.
    </p>
  </section>
  <section class="container divider">
    <h3 class="text-center">
      Mission of Healing the Healers
    </h3>
    <p>
      The mission of Healing the Healers is to assist those in the helping professions improve their overall quality of life.
      All services aim to help participants:
    </p>
    <ul>
      <li>
        <p>Feel seen and understood</p>
      </li>
      <li>
        <p>Identify and practice self-care techniques unique to them</p>
      </li>
      <li>
        <p>Cultivate exceptional introspective skills</p>
      </li>
      <li>
        <p>Learn to use introspection as the foundation of personal and professional excellence</p>
      </li>
      <li>
        <p>To normalize the challenges, strengths, and weaknesses associated with being a healing professional</p>
      </li>
      <li>
        <p>Understand and identify their unique characteristics as Healers</p>
      </li>
      <li>
        <p>Understand the warning signs and prevent the onset of burnout</p>
      </li>
      <li>
        <p>To understand and share a universal self-care/self-improvement vocabulary for helping professionals</p>
      </li>
      <li>
        <p>Improve their overall quality of life and reduce the chances of vicarious trauma, depression or anxiety</p>
      </li>
      <li>
        <p>Form a collaborative rather than competitive professional atmosphere</p>
      </li>
      <li>
        <p>Dramatically enhance their education through learning tools and techniques for self-care, introspection, and community responsibly early in their graduate training</p>
      </li>
    </ul>
  </section>
  <section class="container divider">
    <h3 class="text-center">
      Lasting Benefits
    </h3>
    <ul>
      <li>
        <p>Decreased potential for burnout</p>
      </li>
      <li>
        <p>Innovation and creativity in workplace and in personal life</p>
      </li>
      <li>
        <p>A stronger sense of self and purpose</p>
      </li>
      <li>
        <p>Energy and mental space to focus on priorities (including work)</p>
      </li>
      <li>
        <p>Ability to establish and maintain boundaries</p>
      </li>
      <li>
        <p>Enhancement of decision-making skills</p>
      </li>
      <li>
        <p>Improvement of mental health</p>
      </li>
      <li>
        <p>Enhancement of job performance</p>
      </li>
      <li>
        <p>Gain a clear understanding of individual burnout/compassion fatigue warning signs</p>
      </li>
      <li>
        <p>Improvement of overall quality of life and reduction of vicarious trauma, work-related depression or anxiety</p>
      </li>
    </ul>
  </section>
  <section class="container divider">
    <h3 class="text-center">
      Emotional Clearing
    </h3>
    <p>
      Many healers identify as empaths.
      This means they have a tendency towards absorbing the emotional energy of others.
      This trait is a blessing, a superpower, and a unfortunately a curse if not controlled.
      I teach healers to go through the process of emotional clearing.
      This emotional hygiene technique is especially needed when we come in contact with the residue that trauma leaves behind.
    </p>
  </section>
  <section class="container divider">
    <h3 class="text-center">
      Workshops
    </h3>
    <p>Healing the Healers has given self care workshops to case managers and other helping professionals at organizations
    like the <a href="https://www.ywcaworks.org/programs/domestic-violence-advocacy">YWCA</a>, <a href="https://rainiervalleycorps.org/">Rainier Valley Corps</a>, <a href="http://seattletherapyalliance.com/">Seattle Therapy Alliance</a>, and <a href="https://www.thewonderofwomen.org/">Women of Wonder Inc</a>.
    These workshops give participants the opportunity to assess their current self care as well as acquire tools to immediately begin improving their self care and therefore the quality of their lives.
    Please <a href="#">contact me here</a> if you wish to learn more.</p>
  </section>
  <section class="container">
    <h3 class="text-center">
      Coaching: Trauma Stewardship
    </h3>
    <p>
      Our services also supports organizations and individuals by offering one-on-one and team coaching.
      HTH will contract with organizations to meet with their staff individually and within their teams.
      This role is known as the Trauma Stewardship Coach which is is based off of the powerful book by Laura van Dernoot Lipsky titled "Trauma Stewardship: An Everyday Guide to Caring for Self While Caring for Others".
      It's an inspirational book that every Healer should read, click here to learn more.
    </p>
    <blockquote class="text-center">
      <h5 class="text-center">LIMITED TIME OFFER</h5>
      <p>
        Although one-on-one coaching is typically reserved for organizations I have decided to offer a limited number of healers
        a chance to have one-on-one trauma stewardship coaching.
      </p>
      <p>
        <strong>Please click here to find out more</strong>
      </p>
    </blockquote>
  </section>
</div>
  <script>
      $('#navbar .navbar-nav li').removeClass("active");
      $('#service-link').addClass("active");
  </script>
{% endblock %}