{% extends 'base2.html' %}
{% load static %}
{% block content %}
<div class="container divider">
    <h1 class="text-center">Healers at Play</h1>
</div>
<div class="container divider">
  <p class="col-md-10 col-sm-offset-1">As adults we tend to leave the playing to the little ones. Yet, after studying and surveying helping professionals in the community it appears that we need to learn a thing or two from the kiddos! </p>
  <p class="col-md-10 col-sm-offset-1">Healing the Healers works to support the average helping professional in identifying, engaging in, and developing a practice of play! </p>  
  <p class="col-md-10 col-sm-offset-1">Before founding Healing the Healers, I could still attest to the impact of play in my own life.  I demanded time in my week to let loose and as a dancer, a movie enthusiast, and a performer arts supporter, I found ways to fill my weeks with fun and non-therapy speak. </p>  
  <h2 class="col-md-12 text-center">Below are some pictures of my primary way of engaging in play!</h2>
  {% if user.is_authenticated %}
    <a class="col-md-12 text-center" href="/healers/add/">Add an event</a>
  {% endif %}
  {% for event in events %}
    <div class="full-event col-md-12">
      <div class="col-md-3">
        <img src="{{ event.event_photo.url }}"/>
      </div>
      <div class="col-md-6">
        <h3>{{ event.title }}</h3>
        <p>{{ event.description }}</p>
      </div>
      <div class="col-md-3">
        <h5>When?</h5>
        <p>{{ event.event_date }}</p>
        <p>{{ event.event_time }}</p>
        <h5>Where?</h5>
        <p>{{ event.address.street }}</p>
        <p>{{ event.address.city }}, {{ event.address.state }} {{ event.address.zip_code }}</p>
      </div>
      {% if user.is_authenticated %}
        <a href="/healers/edit/{{ event.pk }}">Edit Event</a>
        <a href="/healers/delete/{{ event.pk }}/">Delete Event</a>
      {% endif %}
      </div>
    {% endfor %} 
  <h4 class="col-md-12 text-center"><a href="{% url 'healers' %}">Return to Healing the Healers</a></h4>
</div>

<script>
    $('#navbar .navbar-nav li').removeClass("active");
    $('#service-link').addClass("active");
</script>
{% endblock %}