{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  <section id="banner">
    <img src="{% static 'imgs/not-found-crop.png' %}" />
    <h1 class="text-center">Not Here</h1>
  </section>
  <div class="container top-con">
    <h2 class="text-center">Sorry, but what you're looking for isn't here</h2>
    <p class="top-20">
      We couldn’t find the page that you were looking for, but no worries! The menu at the top gives you quick navigation around the site. You can also check out the blocks below to visit parts of the site. If you need to contact me directly, my information can be found at the <a href="{% url 'contact' %}">contact page</a>.
    </p>
  </div>
  <div class="container" id="home-squares">
    <div class="col-md-6 service-container s1">
      <a href="{% url 'counseling' %}">
        <div class='service-img'>
          <img src="{% static 'imgs/forest-road-in-the-fall.jpg' %}">
        </div>
        <div class="service">
          <div class="service-inner">
            <h3 class="text-center">Counseling</h3>
            <h4 class="text-center subtitle">Heal From Trauma &amp; Reclaim Your Power</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 service-container">
      <a href="{% url 'coaching' %}">
        <div class='service-img s2'>
          <img src="{% static 'imgs/together.gif' %}">
        </div>
        <div class="service">
          <div class="service-inner">
            <h3 class="text-center">Group Coaching</h3>
            <h4 class="text-center subtitle">Redesign Your Life with Community</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 service-container">
      <a href="{% url 'presentation_list' %}">
        <div class='service-img s3'>
          <img src="{% static 'imgs/b1.jpg' %}">
        </div>
        <div class="service">
          <div class="service-inner">
            <h3 class="text-center">Speaking</h3>
            <h4 class="text-center subtitle">Presentations to Inspire Change</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 service-container">
      <a href="{% url 'healing_healers' %}">
        <!-- <div class='service-img s4'> -->
        <div class="service-img">
          <img src="{% static 'imgs/greenlake.jpg' %}">
        </div>
        <div class="service">
          <div class="service-inner">
            <h3 class="text-center">Healing the Healers</h3>
            <h4 class="text-center subtitle">Workshops &amp; Coaching Designed for Healers who Serve Trauma Survivors</h4>
          </div>
        </div>
      </a>
    </div>
  </div>
  <script>
      $('#navbar .navbar-nav .active').removeClass("active");
      $('#home-link').addClass("active");
  </script>
{% endblock %}