{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container divider">
  <h2 class="text-center">Frequently Asked Questions</h2>
</div>
<div class="container">
  <h4>How much do you charge per session?</h4>
  <p>This depends on a few things private pay or sliding scale options. Generally my prices range from $85-$100 per session. During our first meeting we will discuss your financial situation and determine together a price that honors you and the services that I am providing. You can pay with check, cash, or credit card via Paypal (with a transaction fee attached).</p>
</div>
<div class="container">
  <h4>Do you accept insurance?</h4>
  <p>I am an out of network provider. What this means is your counseling services may be eligible for reimbursement through out-of-network benefits. I can provide you with a receipt at the end of each month which you can submit to your insurance company for out-of-network coverage/reimbursement. I recommend that you inquire with your insurance provider about the particular coverage of your plan.</p>
  <p>Here are some questions to ask your insurance provider to determine your level of coverage (prior to seeing me for counseling):</p>
  <ul>
    <li><p>Do I have mental health benefits?</p></li>
    <li><p>What is my deductible and has it been met?</p></li>
    <li><p>How many mental health sessions per calendar year does my insurance plan cover?</p></li>
    <li><p>How much does my plan cover for an out-of-network mental health provider?</p></li>
    <li><p>How do I obtain reimbursement for therapy with an out-of-network provider?</p></li>
    <li><p>What is the coverage amount per therapy session?</p></li>
    <li><p>Is approval required from my primary care physician?</p></li>
  </ul>
</div>
<div class="container">
  <h4>What is your cancellation policy?</h4>
  <p>The time slot that is allotted for your therapy session is one that is reserved specifically for you. It is with respect that I offer you this time slot, therefore it requires a 24 hour cancellation notice. Appointments canceled with less than a 24 hour notice will be billed at the session fee.</p>
</div>
<div class="container">
  <h4>What kind of information do I need to provide before we meet for the first time?</h4>
  <p>Please refer to the Forms page (under Contact Me) to download the intake paperwork that I need at our initial meeting. If you are not able to fill the paperwork out before coming to my office, you can simply fill it out once you're here.</p>
</div>
<div class="container">
  <h4>What you can expect for our first session?</h4>
  <p>When you first come in to met we will go over the necessary forms including the intake form together. We will then discuss your primary concerns and make a collaborative decision on the direction that your therapy will go.</p>
</div>
<div class="container divider">
  <h4>Reasons to pay privately or “Out of Pocket”</h4>
  <p>The decision to not involve insurance companies in their mental health care has been made by many clients. The benefits of this decision include avoiding the limitation of having a mandatory diagnosis, treatment plan, or session limits imposed by health insurance companies. It is common for health insurance companies to limit the number of sessions and even the type of therapy that you can receive (coverage of couples/relational or family therapy is often not included in mental health care plans).</p>
  <p>Furthermore, to have therapy services covered under insurance, a mental health diagnosis must be made. This diagnosis stays on your health care records and can be reviewed at any time. In addition to this, insurance companies are privileged to your detailed personal information throughout your treatment in order for your coverage to be continued. This means that the insurance companies can review all of your records at their discretion.</p>
  <p>By paying privately or out of pocket, we can assure that you'll have the highest degree of privacy, flexibility and control of your mental health record allowed by law, since our records are exempt from insurance reporting and random compliance audits. Our work is off   record.</p>
</div>
<script>
    $('#navbar .navbar-nav li').removeClass("active");
    $('#navbar .navbar-nav :nth-child(6)').addClass("active");
</script>
{% endblock %}