{% load static %}
<footer class="footer">
  <section id="consult">
    <a target="_blank" href="https://www.timetrade.com/app/td-4213452/workflows/wgwch/schedule/availability?wfsid=b07a7e16-baba97f6-b07af3d1-baba97f6-00000002-6q4m7itfgise3c345ono5fk7h9il2tn6&view=full&fs=1">
      <img src="{% static 'imgs/footer.png' %}" />
    </a>
  </section>
  <div class="container contact-outer">
    <div class="col-md-5 contact-logo">
      <p>Access the power you <span class="text-uppercase">already</span> have.</p>
      <p>Dismantle Trauma's <span class="text-uppercase">lies</span>.</p>
      <p>Foster Self-Love & Design a Thriving Life!</p>
    </div>  
    <div class="col-md-1"></div>
    <div class="col-md-3 contact-info">
      <p><a href="tel:+12057550502"><img class="contact-imgs" src="{% static 'imgs/telephone.png' %}"/>1 . 205 . 755 . 0502</a></p>
      <p><a href="mailto:kyeisha.hodge@gmail.com​?subject=Services Request"><img class="contact-imgs" src="{% static 'imgs/email.svg' %}"/>kyeisha.hodge@gmail.com​</a></p>
      <p><a href="https://www.instagram.com/introspectivecounseling/"><img class="contact-imgs" src="{% static 'imgs/instagram.png' %}"/>@introspectivecounseling</a></p>
    </div>
    <div class="col-md-3 contact-info">
      <p><a href="https://twitter.com/kyeishah"><img class="contact-imgs" src="{% static 'imgs/twitter.svg' %}"/>@kyeishah</a></p>
      <p><a href="https://www.facebook.com/kyeishah"><img class="contact-imgs" src="{% static 'imgs/facebook.svg' %}"/>facebook.com/kyeishah</a></p>
    </div>
  </div>
  <div class="copyright">
    <div class="copyright-full">
      <p>&copy; Kyeisha Hodge PLLC, 2017 | Site designed by Nadia Bahrami &amp; Nicholas Hunt-Walker</p>
    </div>
    <div class="copyright-mobile">
      <p>&copy; Kyeisha Hodge PLLC, 2017</p>
    </div>
  </div>
</footer>
