{% load static %}
<footer class="footer container">
  <section id="consult">
    <a target="_blank" href="https://www.timetrade.com/app/td-4213452/workflows/wgwch/schedule/availability?wfsid=b07a7e16-baba97f6-b07af3d1-baba97f6-00000002-6q4m7itfgise3c345ono5fk7h9il2tn6&view=full&fs=1">
      <img src="{% static 'imgs/footer.png' %}" />
    </a>
  </section>
  <div class="container contact-outer">
    <ul class="contact-mobile">
      <li>
        <a href="tel:+12057550502">
          <img class="footer-contact" src="{% static 'imgs/telephone.png' %}" />1 . 205 . 755 . 0502
        </a>
      </li>
      <li>
        <a href="mailto:kyeisha@kyeishahodge.com?subject=Services Request">
          <img class="footer-contact" src="{% static 'imgs/email.svg' %}" />kyeisha@kyeishahodge.com
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/introspectivecounseling/">
          <img class="footer-contact" src="{% static 'imgs/instagram.png' %}" />@introspectivecounseling
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/kyeishah">
          <img class="footer-contact" src="{% static 'imgs/facebook.svg' %}" />facebook.com/kyeishah
        </a>
      </li>
    </ul>
    <table class="contact-list">
      <tr>
        <td>
          <a href="tel:+12057550502">
            <img class="footer-contact" src="{% static 'imgs/telephone.png' %}" />1 . 205 . 755 . 0502
          </a>
        </td>
        <td class="center-contact">
          <a href="mailto:kyeisha@kyeishahodge.com?subject=Services Request">
            <img class="footer-contact" src="{% static 'imgs/email.svg' %}" />kyeisha@kyeishahodge.com
          </a>
        </td>
        <td class="center-contact">
          <a href="https://www.instagram.com/introspectivecounseling/">
            <img class="footer-contact" src="{% static 'imgs/instagram.png' %}" />@introspectivecounseling
          </a>
        </td>
        <td class="right-contact">
          <a href="https://www.facebook.com/kyeishah">
            <img class="footer-contact" src="{% static 'imgs/facebook.svg' %}" />facebook.com/kyeishah
          </a>
        </td>
      </tr>
    </table>
  </div>
</footer>
<div class="copyright">
  <div class="copyright-full">
    <p>&copy; Kyeisha Hodge PLLC, 2017 | Site designed by Nadia Bahrami &amp; Nicholas Hunt-Walker</p>
  </div>
  <div class="copyright-mobile">
    <p>&copy; Kyeisha Hodge PLLC, 2017</p>
  </div>
</div>
