{% load static %}
<section id="presentation-detail">
    <div id="popup-banner">
        <img src="{% static 'imgs/speaker-popup-banner.jpg' %}" alt="I want to help guide you on your journey to thriving" id="speaker-banner" />
    </div>
    <section id="presentation-detail-inner">
        <div class="close-overlay">&times;</div>
        <div id="presentation-title">
            <h3></h3>
            <h4></h4>
        </div>
        <article id="presentation-content-outer">
            <div id="presentation-content">
            </div>
        </article>
    </section>
</section>