{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<section id="banner">
    <img class="desktop-only" src="{% static 'imgs/speaking-full.jpg' %}" />
    <img class="mobile-only" src="{% static 'imgs/speaking-mobile.png' %}" />
    <h1 class="text-center">Speaking</h1>
</section>
<div class="container top-con">
    <section class="container">
        <h3 class="text-center">Presentations that Transform</h3>
        <p class="top-20">
            My talks are designed to educate on various topics concerning Mental Health and self development.
        </p>
        <p>
            In this era of Trump, #metoo, and #blacklivesmatter, people have begun to crave conversations that demystify abuse and center survivors and healing.
            Yet, confusion still remains on HOW to facilitate these conversations.
            My talks and workshops step in to fill this void.
            I discuss the effects that domestic violence, sexual assault, racism, and sexism have on an individual's mental health, as well as how to begin the process of overcoming them personally and professionally.
        </p>
        <p>
            I have been honored to hold workshops and talks addressing these topics at companies such as the YWCA, Seattle Therapy Alliance, Rainier Valley Corps, and Wonder of Women Inc.
            <a href="#" id="show-request-form">Click here</a> if you'd like to request me as a speaker for your organization.
        </p>
        <p>
            Below are my most requested talks and workshops.
            Click on each item for details about the specific workshop:
        </p>
    </section>
    {% if presentations %}
    <section id="presentation-list" class="container">
        {% for pair in presentation_pairs %}
            {% include 'speaking/presentation_row.html' %}
        {% endfor %}
        {% if orphan %}
        <div class="container spacer">
            <div class="col-md-4 col-md-offset-1 speaking-item" data="presentation-{{ orphan.pk }}">
                <img class="talk-dot" src="{{ orphan.image.url }}"/>
            </div>
        </div>
        {% endif %}
    </section>
    {% endif %}
</div>
<div id="speaking-overlay">
    {% include 'speaking/presentation_detail.html' %}
</div>
<div id="request-form-overlay">
    {% include 'speaking/request_speaker.html' %}
</div>
{% endblock %}
{% block script %}
<script>
    $('#navbar .navbar-nav li').removeClass("active");
    $('#service-link').addClass("active");

    $('.speaking-item').on('click', function (event) {
        let pk = $(this).attr('data').split('-')[1]
        $.get(`/services/speaking/api/detail/${pk}`, response => {
            $('#presentation-title h3').html(response.title)
            $('#presentation-title h4').html(response.subtitle)
            $('#presentation-content').html(response.details)
            $('#speaking-overlay').show()
            $('body').addClass('noscroll')
        })
    })

    $('#presentation-detail #popup-banner').on('click', function(event){
        $("#speaking-overlay").hide()
        $("#request-form-overlay").show()
        $("body").addClass("noscroll")
    })

    $('#show-request-form').on('click', function(event) {
        $("#request-form-overlay").show()
        $("body").addClass("noscroll")
    })

    let closeOverlay = _ => {
        $('#speaking-overlay').hide()
        $("#request-form-overlay").hide()
        $('body').removeClass('noscroll')
    }

    $('.close-overlay').on('click', closeOverlay)
    $('body').on('keyup', function (event) {
        if (event.keyCode === 27) {
            closeOverlay()
        }
    })
</script>
{% endblock %}